@model ControlOptions
@using System.Text
<script type="text/javascript">

    submit = function (menu) {
        var form = document.forms ? document.forms[0] : null, optionMenus, optionValues, currentMenu;
        @{
            var menus = new StringBuilder();
            var currentValue = new StringBuilder();
            foreach (var item in Model.Options)
            {
                string formattedKey = item.Key.Replace(" ", "").ToLower();
                menus.Append(formattedKey);
                currentValue.Append(item.Value.CurrentValue);
                menus.Append(',');
                currentValue.Append(',');
            }
        }
        optionMenus  = '@(menus.ToString().Substring(0, menus.Length - 1))'.split(",");
        optionValues = '@(Html.Raw(currentValue.ToString().Substring(0, currentValue.Length - 1)))'.split(",");

        for (var i = 0; i < optionMenus.length; i++) {
            currentMenu = document.querySelector('input[name=\'' + optionMenus[i] + '\']');
            if (currentMenu && menu.inputElement !== currentMenu) {
                currentMenu.value = optionValues[i];
            }
        }
        form.submit();
    }
</script>
<form method="post">
    @{
        foreach (var item in Model.Options)
        {
            string formattedKey = item.Key.Replace(" ", "").ToLower();
            var index = item.Value.Values.IndexOf(item.Value.CurrentValue);
            var header = item.Key.Replace(" ", "") + ":&nbsp;<b>" + item.Value.CurrentValue + "</b>";
            var source = Model.OptionItemToMenuItem(item.Key);
            <c1-menu id="@formattedKey" name="@formattedKey"
                     header="@header"
                     selected-index="@index"
                     item-clicked="submit">
                <c1-items-source source-collection="@source"></c1-items-source>
            </c1-menu>
        }
    }
</form>