@model IEnumerable<Orders.Order>
    <script src="~/Scripts/jszip.js"></script>
@{
    var cities = Orders.GetCities().ToValues();
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;

    var layoutDefinition = optionsModel.Options["Layout Definition"].CurrentValue;
}

@if (layoutDefinition == "Traditional")
{
    <h3>Transposed MultiRow</h3>
    <c1-transposed-multi-row id="ovTransposedMultiRow" class="multirow">
        <c1-items-source source-collection="Model"></c1-items-source>
        <c1-transposed-multi-row-cell-group>
            <c1-transposed-multi-row-cell binding="Id" header="ID" class="id" />
            <c1-transposed-multi-row-cell binding="Date" header="Ordered" />
            <c1-transposed-multi-row-cell binding="ShippedDate" header="Shipped" />
            <c1-transposed-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" />
            <c1-transposed-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" />
            <c1-transposed-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" />
            <c1-transposed-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
                <c1-data-map display-member-path="Value" selected-value-path="Value">
                    <c1-items-source source-collection="cities" />
                </c1-data-map>
            </c1-transposed-multi-row-cell>
            <c1-transposed-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
            <c1-transposed-multi-row-cell binding="Customer.Zip" name="CustomerZip" header="Zip" />
            <c1-transposed-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" />
            <c1-transposed-multi-row-cell binding="Customer.Phone" name="CustomerPhone" header="Customer Phone" />
            <c1-transposed-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" />
            <c1-transposed-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" />
            <c1-transposed-multi-row-cell binding="Shipper.Phone" name="ShipperPhone" header="Shipper Phone" />
            <c1-transposed-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" />
        </c1-transposed-multi-row-cell-group>
    </c1-transposed-multi-row>

    <div>
        <button id="btnExportToExcel" class="btn btn-default">
            Export To Excel
        </button>
        <button id="btnExportToPDF" class="btn btn-default">
            Export To PDF
        </button>
    </div>

    <h3>MultiRow</h3>
    <c1-multi-row id="ovMultiRow" class="multirow">
        <c1-items-source source-collection="Model"></c1-items-source>
        <c1-multi-row-cell-group colspan="15">
            <c1-multi-row-cell binding="Id" header="ID" class="id" />
            <c1-multi-row-cell binding="Date" header="Ordered" />
            <c1-multi-row-cell binding="ShippedDate" header="Shipped" />
            <c1-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" />
            <c1-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" />
            <c1-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" />
            <c1-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
                <c1-data-map display-member-path="Value" selected-value-path="Value">
                    <c1-items-source source-collection="cities" />
                </c1-data-map>
            </c1-multi-row-cell>
            <c1-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
            <c1-multi-row-cell binding="Customer.Zip" name="CustomerZip" header="Zip" />
            <c1-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" />
            <c1-multi-row-cell binding="Customer.Phone" name="CustomerPhone" header="Customer Phone" />
            <c1-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" />
            <c1-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" />
            <c1-multi-row-cell binding="Shipper.Phone" name="ShipperPhone" header="Shipper Phone" />
            <c1-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" />
        </c1-multi-row-cell-group>
    </c1-multi-row>
}

@if (layoutDefinition == "Compact")
{
    <h3>Transposed MultiRow</h3>
    <c1-transposed-multi-row id="ovTransposedMultiRow" class="multirow">
        <c1-items-source source-collection="Model"></c1-items-source>
        <c1-transposed-multi-row-cell-group header="Order" colspan="2">
            <c1-transposed-multi-row-cell binding="Id" header="ID" width="150" class="id" />
            <c1-transposed-multi-row-cell binding="Date" header="Ordered" width="150" />
            <c1-transposed-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" />
            <c1-transposed-multi-row-cell binding="ShippedDate" header="Shipped" />
        </c1-transposed-multi-row-cell-group>
        <c1-transposed-multi-row-cell-group header="Customer" colspan="3">
            <c1-transposed-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" width="200" />
            <c1-transposed-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" colspan="2" />
            <c1-transposed-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" />
            <c1-transposed-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
                <c1-data-map display-member-path="Value" selected-value-path="Value">
                    <c1-items-source source-collection="cities" />
                </c1-data-map>
            </c1-transposed-multi-row-cell>
            <c1-transposed-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
        </c1-transposed-multi-row-cell-group>
        <c1-transposed-multi-row-cell-group header="Shipper" colspan="2">
            <c1-transposed-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" colspan="2" />
            <c1-transposed-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" width="200" />
            <c1-transposed-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" width="100" />
        </c1-transposed-multi-row-cell-group>
    </c1-transposed-multi-row>

    <div>
        <button id="btnExportToExcel" class="btn btn-default">
            Export To Excel
        </button>
        <button id="btnExportToPDF" class="btn btn-default">
            Export To PDF
        </button>
    </div>

    <h3>MultiRow</h3>
    <c1-multi-row id="ovMultiRow" class="multirow">
        <c1-items-source source-collection="Model"></c1-items-source>
        <c1-multi-row-cell-group header="Order" colspan="2">
            <c1-multi-row-cell binding="Id" header="ID" width="150" class="id" />
            <c1-multi-row-cell binding="Date" header="Ordered" width="150" />
            <c1-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" />
            <c1-multi-row-cell binding="ShippedDate" header="Shipped" />
        </c1-multi-row-cell-group>
        <c1-multi-row-cell-group header="Customer" colspan="3">
            <c1-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" width="200" />
            <c1-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" colspan="2" />
            <c1-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" />
            <c1-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
                <c1-data-map display-member-path="Value" selected-value-path="Value">
                    <c1-items-source source-collection="cities" />
                </c1-data-map>
            </c1-multi-row-cell>
            <c1-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
        </c1-multi-row-cell-group>
        <c1-multi-row-cell-group header="Shipper" colspan="2">
            <c1-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" colspan="2" />
            <c1-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" width="200" />
            <c1-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" width="100" />
        </c1-multi-row-cell-group>
    </c1-multi-row>
}

@if (layoutDefinition == "Detailed")
{
    <h3>Transposed MultiRow</h3>
    <c1-transposed-multi-row id="ovTransposedMultiRow" class="multirow">
        <c1-items-source source-collection="Model"></c1-items-source>
        <c1-transposed-multi-row-cell-group header="Order" colspan="2">
            <c1-transposed-multi-row-cell binding="Id" header="ID" class="id" colspan="2" />
            <c1-transposed-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" colspan="2" />
            <c1-transposed-multi-row-cell binding="Date" header="Ordered" />
            <c1-transposed-multi-row-cell binding="ShippedDate" header="Shipped" />
        </c1-transposed-multi-row-cell-group>
        <c1-transposed-multi-row-cell-group header="Customer" colspan="3">
            <c1-transposed-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" />
            <c1-transposed-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" colspan="2" />
            <c1-transposed-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" colspan="2" />
            <c1-transposed-multi-row-cell binding="Customer.Phone" name="CustomerPhone" header="Customer Phone" />
            <c1-transposed-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
                <c1-data-map display-member-path="Value" selected-value-path="Value">
                    <c1-items-source source-collection="cities" />
                </c1-data-map>
            </c1-transposed-multi-row-cell>
            <c1-transposed-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
            <c1-transposed-multi-row-cell binding="Customer.Zip" name="CustomerZip" header="Zip" />
        </c1-transposed-multi-row-cell-group>
        <c1-transposed-multi-row-cell-group header="Shipper">
            <c1-transposed-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" width="*" />
            <c1-transposed-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" />
            <c1-transposed-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" />
        </c1-transposed-multi-row-cell-group>
    </c1-transposed-multi-row>

    <div>
        <button id="btnExportToExcel" class="btn btn-default">
            Export To Excel
        </button>
        <button id="btnExportToPDF" class="btn btn-default">
            Export To PDF
        </button>
    </div>

    <h3>MultiRow</h3>
    <c1-multi-row id="ovMultiRow" class="multirow">
        <c1-items-source source-collection="Model"></c1-items-source>
        <c1-multi-row-cell-group header="Order" colspan="2">
            <c1-multi-row-cell binding="Id" header="ID" class="id" colspan="2" />
            <c1-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" colspan="2" />
            <c1-multi-row-cell binding="Date" header="Ordered" />
            <c1-multi-row-cell binding="ShippedDate" header="Shipped" />
        </c1-multi-row-cell-group>
        <c1-multi-row-cell-group header="Customer" colspan="3">
            <c1-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" />
            <c1-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" colspan="2" />
            <c1-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" colspan="2" />
            <c1-multi-row-cell binding="Customer.Phone" name="CustomerPhone" header="Customer Phone" />
            <c1-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
                <c1-data-map display-member-path="Value" selected-value-path="Value">
                    <c1-items-source source-collection="cities" />
                </c1-data-map>
            </c1-multi-row-cell>
            <c1-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
            <c1-multi-row-cell binding="Customer.Zip" name="CustomerZip" header="Zip" />
        </c1-multi-row-cell-group>
        <c1-multi-row-cell-group header="Shipper">
            <c1-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" width="*" />
            <c1-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" />
            <c1-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" />
        </c1-multi-row-cell-group>
    </c1-multi-row>
}

@section Scripts{
    <script>
        c1.documentReady(function () {
            var grid = wijmo.Control.getControl('#ovTransposedMultiRow');
            //Excel
            document.getElementById("btnExportToExcel").addEventListener("click", function () {
                wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, {
                    includeRowHeaders: true,
                }, 'TransposedMultiRow.xlsx');
            });

            //Pdf
            document.getElementById("btnExportToPDF").addEventListener("click", function () {
                wijmo.grid.pdf.FlexGridPdfConverter.export(grid, 'TransposedMultiRow.pdf', {
                    scaleMode: wijmo.grid.pdf.ScaleMode.ActualSize,
                    documentOptions: {
                        pageSettings: {
                            layout: wijmo.pdf.PdfPageOrientation.Landscape
                        }
                    }
                });
            });
        });
    </script>
}

@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
    @if (layoutDefinition == "Traditional")
    {
        <p>@Html.Raw(TransposedMultiRowRes.Index_Text0)</p>
    }
    @if (layoutDefinition == "Compact")
    {
        <p>@Html.Raw(TransposedMultiRowRes.Index_Text1)</p>
    }
    @if (layoutDefinition == "Detailed")
    {
        <p>@Html.Raw(TransposedMultiRowRes.Index_Text2)</p>
    }
}

@section Summary{
    <p>@Html.Raw(TransposedMultiRowRes.Index_Text3)</p>
}

@section Description{
    <p>@Html.Raw(TransposedMultiRowRes.Index_Text4)</p>

}
