@{
    ClientSettingsModel demoSettingModel = ViewBag.DemoSettingsModel;
    ViewBag.DemoSettings = true;
}

<c1-tab-panel id="@demoSettingModel.ControlId">
    <div>
        <a id="hdr-africa">
            Africa
        </a>
        <div id="pane-africa">
            <ul>
                <li>Algeria</li>
                <li>Angola</li>
                <li>Benin</li>
                <li>Botswana</li>
            </ul>
        </div>
    </div>
    <div>
        <a id="hdr-america" class="wj-state-active">
            America
        </a>
        <div id="pane-america">
            <ul>
                <li>Canada</li>
                <li>Chile</li>
                <li>Mexico</li>
                <li>United States</li>
            </ul>
        </div>
    </div>
    <div>
        <a id="hdr-asia">
            Asia
        </a>
        <div id="pane-asia">
            <ul>
                <li>China</li>
                <li>Korea</li>
                <li>India</li>
                <li>Japan</li>
            </ul>
        </div>
    </div>
    <div>
        <a id="hdr-europe">
            Europe
        </a>
        <div id="pane-europe">
            <ul>
                <li>Austria</li>
                <li>England</li>
                <li>France</li>
                <li>Germany</li>
                <li>Netherlands</li>
                <li>Switzerland</li>
            </ul>
        </div>
    </div>
    <div>
        <a id="hdr-oceania">
            Oceania
        </a>
        <div id="pane-oceania">
            <ul>
                <li>Australia</li>
                <li>Fiji</li>
                <li>New Zealand</li>
                <li>Samoa</li>
            </ul>
        </div>
    </div>
</c1-tab-panel>

@section Summary{
<p>@Html.Raw(TabPanelRes.Accessibility_Text0)</p>
}

@section Description{
    <p>@Html.Raw(TabPanelRes.Accessibility_Text1)</p>
    <p>@Html.Raw(TabPanelRes.Accessibility_Text2)</p>
    <p>@Html.Raw(TabPanelRes.Accessibility_Text3)</p>
    <p>@Html.Raw(TabPanelRes.Accessibility_Text4)</p>
}