@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
  <li class="narrow-screen">
    <a href="@Url.Action("Index", "C1Mvc")">@Resources.Resource.Home</a>
  </li>
  <li>
    <a href="@Resources.Resource.SiteNav_DemosUrl" target="_blank">@Resources.Resource.SiteNav_Demos</a>
  </li>
  <li>
    <a href="@Resources.Resource.SiteNav_DocsUrl" target="_blank">@Resources.Resource.SiteNav_Docs</a>
  </li>
  <li>
    <a href="@Resources.Resource.SiteNav_SamplesUrl" target="_blank">@Resources.Resource.SiteNav_Samples</a>
  </li>
  <li class="bold">
    <a href="@Resources.Resource.LinkFreeTrial" target="_blank">@Resources.Resource.FreeTrial</a>
  </li>
</ul>
