<div class="header visible-xs visible-sm">
    <div class="container">
        <h1>FlexSheet</h1>
    </div>
</div>
<div class="header hidden-xs hidden-sm">
    <div class="container">
        <a class="logo-container" href="https://developer.mescius.com/aspnet-mvc" target="_blank">
            <i class="gcicon-product-c1"></i>
        </a>
        <h1>FlexSheet</h1>
    </div>
</div>
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-md-6">
            <h2><a href="@Url.Action("ExcelLike")">Excel-like Application</a></h2>
            <p>Shows the Excel-like sheet. It contains a ribbon, FlexSheet control and status bar.</p>
            <p><a href="@Url.Action("ExcelLike")" class="sampleButton">View Excel-like Application</a></p>
        </div>
        <div class="col-md-6">
            <h2><a href="@Url.Action("StandAlone")">Standalone Sheet</a></h2>
            <p>Shows the standalone FlexSheet Control.</p>
            <p><a href="@Url.Action("StandAlone")" class="sampleButton">View Standalone Sheet</a></p>
        </div>
    </div>
    <footer>
        <a href="https://developer.mescius.com/">
            <img src="~/Content/css/images/logotext.png" class="gcicon-logo-gc-horiz" alt="mescius" />
        </a>
        <p>
            © @DateTime.Now.Year MESCIUS inc. All rights reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
    </footer>
    <br /><br /><br />
</div>