@{
    var today = DateTime.Now.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
}

@section Scripts{
<style>
    .invalid-tooltip {
        background-color: red;
        color: yellow;
        opacity: 0.9;
        border-color: lightcoral;
    }
</style>

<script>
    var _invalidTooltip;
    c1.documentReady(function () {
        _invalidTooltip = new wijmo.Tooltip();
        _invalidTooltip.cssClass = 'invalid-tooltip';
        _invalidTooltip.position = 11;
        window.addEventListener('resize', function () {
            if (_invalidTooltip.isVisible) {
                _invalidTooltip.hide();
                onInvalidInput();
            }
        });
    })

    function onInvalidInput(input, e) {
        e && (e.cancel = true);
        _invalidTooltip.show("#invalidInput", "@Html.Raw(Resources.InputDateTime.Validation_Text4)");
    }

    function onValueChanged(input, e) {
        _invalidTooltip.hide();
    }

    function itemValidator(date) {
        var weekday = date.getDay();
        return weekday != 0 && weekday != 6;
    }
</script>
}

<div>
    <label>@Html.Raw(Resources.InputDateTime.Validation_Text0)</label>
    @Html.C1().InputDateTime().Value(today).ItemValidator("itemValidator")
    <p></p>
    <p>@Html.Raw(Resources.InputDateTime.Validation_Text3)</p>
    @(Html.C1().InputDateTime().Id("invalidInput")
        .Value(today).Min(minDate).Max(maxDate)
        .OnClientInvalidInput("onInvalidInput")
        .OnClientValueChanged("onValueChanged")
    )
</div>

@section Description{
    @Html.Raw(Resources.InputDateTime.Validation_Text1)
    <br />
    @Html.Raw(Resources.InputDateTime.Validation_Text2)
}