@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li class="narrow-screen">
    <a href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li>
        <a href="@Html.Raw(TransposedMultiRowRes._SiteNav_DemosUrl)" target="_blank">@Html.Raw(TransposedMultiRowRes._SiteNav_Demos)</a>
    </li>
    <li>
        <a href="@Html.Raw(TransposedMultiRowRes._SiteNav_DocsUrl)" target="_blank">@Html.Raw(TransposedMultiRowRes._SiteNav_Docs)</a>
    </li>
    <li>
        <a href="@Html.Raw(TransposedMultiRowRes._SiteNav_SamplesUrl)" target="_blank">@Html.Raw(TransposedMultiRowRes._SiteNav_Samples)</a>
    </li>
    <li class="bold">
        <a href="@Html.Raw(TransposedMultiRowRes._SiteNav_Text8)" target="_blank">@Html.Raw(TransposedMultiRowRes._SiteNav_Text3)</a>
    </li>
    <li class="narrow-screen">
        @Html.Raw(TransposedMultiRowRes._SiteNav_Text4)
        @await Html.PartialAsync("_ThemeList")
    </li>
</ul>
