@model IEnumerable<Gdp>

<h1>
    @Html.Raw(Resources.C1Input.AutoCompleteSearchPath_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.AutoCompleteSearchPath_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.AutoCompleteSearchPath_Text2)
</p>

<label for="theAutoComplete">@Html.Raw(Resources.C1Input.AutoCompleteSearchPath_Text3)</label>
@(Html.C1().AutoComplete<Gdp>().Id("theAutoComplete").Bind(Model).DisplayMemberPath("Country").SearchMemberPath("Country,Continent"))