<h1>
    @Html.Raw(Resources.C1Input.CalendarCustomization_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.CalendarCustomization_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.CalendarCustomization_Text2)
</p>
@Html.C1().Calendar().Id("theCalendar")
<div>
    @Html.Raw(Resources.C1Input.CalendarCustomization_Text3)
</div>