<h1>
    @Html.Raw(Resources.C1Input.CalendarValidation_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.CalendarValidation_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.CalendarValidation_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.CalendarValidation_Text3)
</p>
@Html.C1().Calendar().Id("theCalendar")
<div>
    @Html.Raw(Resources.C1Input.CalendarValidation_Text4)
</div>