<h1>
    @Html.Raw(Resources.C1Input.Calendar_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.Calendar_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.Calendar_Text2)
</p>
@Html.C1().Calendar().Id("theCalendar")
<div>
    @Html.Raw(Resources.C1Input.Calendar_Text3)
</div>