@model IEnumerable<Gdp>

<h1>
    @Html.Raw(Resources.C1Input.ComboBoxSortingFiltering_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Input.ComboBoxSortingFiltering_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.ComboBoxSortingFiltering_Text2)
</p>

<label for="theCombo">@Html.Raw(Resources.C1Input.ComboBoxSortingFiltering_Text3)</label>
@(Html.C1().ComboBox<Gdp>().Id("theCombo").Bind(Model).DisplayMemberPath("Country"))
<p id="detail"></p>