<h1>
    @Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Text1)
</p>
<label for="theComboNumber">@Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Text2)</label>
@Html.C1().ComboBox().Id("theComboNumber")
<p>
    @Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Text3)
</p>

<p>
    @Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Text4)
</p>
<label for="theComboDate">@Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Text5)</label>
@Html.C1().ComboBox().Id("theComboDate")
<p>
    @Html.Raw(Resources.C1Input.ComboBoxNumbersDates_Text6)
</p>