<h1>
    @Html.Raw(Resources.C1Input.Gauges_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.Gauges_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.Gauges_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.Gauges_Text3)
</p>
<ol>
    <li>
        @Html.Raw(Resources.C1Input.Gauges_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.Gauges_Text5)
    </li>
</ol>