<h1>
    @Html.Raw(Resources.C1Input.Index_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Input.Index_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.Index_Text2)
</p>

<ul>
  <li>
    @Html.Raw(Resources.C1Input.Index_Text3)
    <ul>
      <li>@Html.Raw(Resources.C1Input.Index_Text4)</li>
      <li>@Html.Raw(Resources.C1Input.Index_Text5)</li>
      <li>
        @Html.Raw(Resources.C1Input.Index_Text6)
        <ul>
          <li>
            @Html.Raw(Resources.C1Input.Index_Text7)
            <ul>
              <li>
                @Html.Raw(Resources.C1Input.Index_Text8)
                <ul>
                  <li>@Html.Raw(Resources.C1Input.Index_Text9)</li>
                </ul>
              </li>
              <li>@Html.Raw(Resources.C1Input.Index_Text10)</li>
              <li>@Html.Raw(Resources.C1Input.Index_Text11)</li>
              <li>@Html.Raw(Resources.C1Input.Index_Text12)</li>
            </ul>
          </li>
          <li>@Html.Raw(Resources.C1Input.Index_Text13)</li>
          <li>
            @Html.Raw(Resources.C1Input.Index_Text14)
            <ul>
              <li>@Html.Raw(Resources.C1Input.Index_Text15)</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>@Html.Raw(Resources.C1Input.Index_Text16)</li>
      <li>@Html.Raw(Resources.C1Input.Index_Text17)</li>
      <li>@Html.Raw(Resources.C1Input.Index_Text18)</li>
      <li>@Html.Raw(Resources.C1Input.Index_Text19)</li>
    </ul>
    </li>
</ul>