<h1>
    @Html.Raw(Resources.C1Input.InputMask_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.InputMask_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputMask_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputMask_Text3)
</p>

<div class="demo-settings">
    <label for="theSSN">@Html.Raw(Resources.C1Input.InputMask_Text4)</label>
    @Html.C1().InputMask().Id("theSSN").Mask("000-00-0000")
    <br>
    <label for="theZip">@Html.Raw(Resources.C1Input.InputMask_Text5)</label>
    @Html.C1().InputMask().Id("theZip").Mask("00000")
    <br>
    <label for="theZip4">@Html.Raw(Resources.C1Input.InputMask_Text6)</label>
    @Html.C1().InputMask().Id("theZip4").Mask("00000-0000")
    <br>
    <label for="thePhone">@Html.Raw(Resources.C1Input.InputMask_Text7)</label>
    @Html.C1().InputMask().Id("thePhone").Mask("(999) 000-0000")
</div>