<h1>
    @Html.Raw(Resources.C1Input.InputDateTime_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.InputDateTime_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputDateTime_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputDateTime_Text3)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1Input.InputDateTime_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.InputDateTime_Text5)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.InputDateTime_Text6)
    </li>
</ul>
<p>
    @Html.Raw(Resources.C1Input.InputDateTime_Text7)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputDateTime_Text8)
</p>
<div class="demo-settings">
    <label for="theInputDateTime">@Html.Raw(Resources.C1Input.InputDateTime_Text9) </label>
    @Html.C1().InputDateTime().Id("theInputDateTime")
</div>

<p>
    @Html.Raw(Resources.C1Input.InputDateTime_Text10)
</p>