<h1>
    @Html.Raw(Resources.C1Input.InputDateCustomization_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.InputDateCustomization_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputDateCustomization_Text2)
</p>
@Html.C1().InputDate().Id("theInputDate")
<div>
    @Html.Raw(Resources.C1Input.InputDateCustomization_Text3)
</div>