<h1>
    @Html.Raw(Resources.C1Input.InputDateValidation_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.InputDateValidation_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputDateValidation_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.InputDateValidation_Text3)
</p>
@Html.C1().InputDate().Id("theInputDate")
<div>
    @Html.Raw(Resources.C1Input.InputDateValidation_Text4)
</div>