@model IEnumerable<FlexChartData.Sale>

<h1>
    @Html.Raw(Resources.C1Input.MenusContextMenus_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Input.MenusContextMenus_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.MenusContextMenus_Text2)
</p>

<div class="owners">
    <div id="FIRST" class="has-ctx-menu" style="background:#f0a0a0">
        @Html.Raw(Resources.C1Input.MenusContextMenus_Text3)
    </div>
    <div id="SECOND" class="has-ctx-menu" style="background:#a0f0a0">
        @Html.Raw(Resources.C1Input.MenusContextMenus_Text4)
    </div>
    <div id="THIRD" class="has-ctx-menu" style="background:#a0a0f0">
        @Html.Raw(Resources.C1Input.MenusContextMenus_Text5)
    </div>
</div>

<p>
    @Html.Raw(Resources.C1Input.MenusContextMenus_Text6)
</p>

<h3>
    @Html.Raw(Resources.C1Input.MenusContextMenus_Title1)
</h3>
@(Html.C1().FlexChart<FlexChartData.Sale>().Id("theChart")
    .CssClass("has-ctx-menu")
    .Bind("Country", Model)
    .Series(sb =>
    {
        sb.Add().Binding("Sales").Name("Sales");
        sb.Add().Binding("Expenses").Name("Expenses");
    })
)
<div id="" class=""></div>
<h3>
    @Html.Raw(Resources.C1Input.MenusContextMenus_Title2)
</h3>
@(Html.C1().FlexGrid<FlexChartData.Sale>().Id("theGrid")
    .CssClass("has-ctx-menu")
    .Bind(Model)
)

@(Html.C1().Menu().Id("ctxMenu")
    .DropDownCssClass("ctx-menu")
    .SelectedValuePath("CommandParameter")
    .MenuItems(items=>
    {
        items.Add().Header("<span class=\"glyphicon glyphicon-asterisk\"></span>&nbsp;&nbsp;" + Resources.C1Input.MenusContextMenus_Text7).CommandParameter("NEW");
        items.Add().Header("<span class=\"glyphicon glyphicon-folder-open\"></span>&nbsp;&nbsp;" + Resources.C1Input.MenusContextMenus_Text8).CommandParameter("OPEN");
        items.Add().Header("<span class=\"glyphicon glyphicon-floppy-disk\"></span>&nbsp;&nbsp;" + Resources.C1Input.MenusContextMenus_Text9).CommandParameter("SAVE");
        items.AddSeparator();
        items.Add().Header("<span class=\"glyphicon glyphicon-remove\"></span>&nbsp;&nbsp;" + Resources.C1Input.MenusContextMenus_Text10).CommandParameter("EXIT");
    })
    .CssStyle("display", "none")
)