<h1>
    @Html.Raw(Resources.C1Input.MultiItem_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.MultiItem_Text1)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1Input.MultiItem_Text2)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.MultiItem_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.MultiItem_Text4)
    </li>
</ul>