<h1>
    @Html.Raw(Resources.C1Input.PseudoClasses_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Input.PseudoClasses_Text1)
</p>
<p>
  @Html.Raw(Resources.C1Input.PseudoClasses_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.PseudoClasses_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Input.PseudoClasses_Text4)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1Input.PseudoClasses_Text5)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.PseudoClasses_Text6)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.PseudoClasses_Text7)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.PseudoClasses_Text8)
    </li>
    <li>
        @Html.Raw(Resources.C1Input.PseudoClasses_Text9)
    </li>
</ul>