@model IEnumerable<TransposedGridExplorer.Models.Portfolio>

@{ 
    const string tpl1 = "<span class=${value> .3 ? 'big-val' : 'small-val'}>${text}</span>";
    const string tpl2 = "<span class=${value > 50000 ? 'big-val' : 'small-val'}>${text}</span>";
}

<c1-transposed-grid id="rowGroups" auto-generate-rows="false" class="grid animated" is-read-only="true" sorting-type="None" show-marquee="true" show-selected-headers="Row">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-transposed-grid-row binding="Name" width="130" height="50"></c1-transposed-grid-row>
    <c1-transposed-grid-row binding="Currency" align="center" width="73" height="50"></c1-transposed-grid-row>
    <c1-transposed-grid-row header="Performance" width="100" align="center" collapse-to="YTD">
        <c1-transposed-grid-row binding="YTD" format="p2" class="main-row" ></c1-transposed-grid-row>
        <c1-transposed-grid-row binding="M1" format="p2"></c1-transposed-grid-row>
        <c1-transposed-grid-row binding="M6" format="p2"></c1-transposed-grid-row>
        <c1-transposed-grid-row binding="M12" format="p2"></c1-transposed-grid-row>
    </c1-transposed-grid-row>
    <c1-transposed-grid-row header="Allocation" align="center" collapse-to="Amount" width="100">
        <c1-transposed-grid-row header="Investment" width="100" align="center" collapse-to="Total" is-collapsed="true">
            <c1-transposed-grid-row binding="Stock" width="80" format="p2" template="@tpl1"></c1-transposed-grid-row>
            <c1-transposed-grid-row binding="Bond" width="80" format="p2" template="@tpl1"></c1-transposed-grid-row>
            <c1-transposed-grid-row binding="Other" width="80" format="p2" template="@tpl1"></c1-transposed-grid-row>
            <c1-transposed-grid-row binding="Total" width="80" name="#Total" format="p2" align="right" class="main-row" template="@tpl1"></c1-transposed-grid-row>
        </c1-transposed-grid-row>
        <c1-transposed-grid-row binding="Cash" format="p2"></c1-transposed-grid-row>
        <c1-transposed-grid-row binding="Amount" class="main-row" format="c0" template="@tpl2"></c1-transposed-grid-row>
    </c1-transposed-grid-row>
</c1-transposed-grid>

<style type="text/css">
    .wj-flexgrid {
        margin: 10px 0;
    }

    /* highlight the main column in the group */
    .wj-transposed-grid .wj-cells .wj-cell.main-row {
        background: #ddffdd;
        color: black;
    }

    /* formatting for cell's templates */
    .big-val {
        font-weight: bold;
        color: darkgreen;
    }

    .small-val {
        font-style: italic;
        color: rgb(202, 0, 0);
    }

    /* animation for collapsing/expanding the groups */
    .wj-flexgrid.animated .wj-colheaders .wj-header.wj-cell.wj-colgroup {
        transition: all .2s;
    }
</style>

@section Summary{
    <p>@Html.Raw(TransposedGridRes.RowGroups_Summary)</p>
}

@section Description{
    @Html.Raw(TransposedGridRes.RowGroups_Descriptions)
}

