@using C1.Web.Mvc.Grid
@{
    ClientSettingsModel optionsModel = ViewBag.DemoOptions;
}
<c1-pivot-engine id="cubeEngine" show-row-totals="Subtotals" show-column-totals="Subtotals">
    <c1-cube-service url="https://ssrs.componentone.com/OLAP/msmdpump.dll" cube="Adventure Works"></c1-cube-service>
    <c1-view-field-collection c1-property="RowFields" items="[Customer].[Country]"></c1-view-field-collection>
    <c1-view-field-collection c1-property="ColumnFields" items="[Customer].[Occupation]"></c1-view-field-collection>
    <c1-view-field-collection c1-property="ValueFields" items="[Measures].[Customer Count]"></c1-view-field-collection>
</c1-pivot-engine>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <c1-pivot-panel id="@(optionsModel.ControlId)" items-source-id="cubeEngine"></c1-pivot-panel>
    </div>
    <div class="col-sm-8 col-md-8">
        <c1-pivot-grid id="indexGrid" items-source-id="cubeEngine"></c1-pivot-grid>
    </div>
</div>

@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Description{
<p>@Html.Raw(OlapRes.Cube_Text0)</p>

<p>@Html.Raw(OlapRes.Cube_Text1)</p>

}
@section Summary{
<p>@Html.Raw(OlapRes.Cube_Text2)</p>

}
