@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Text3)
</p>
@Html.C1().CollectionViewService().Id("collectionView").Bind(Model)
@Html.C1().FlexGrid().Id("theGrid").ItemsSourceId("collectionView").ShowAlternatingRows(false).Height(200)

<h2>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Title1)
</h2>
<p>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Text4)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Text5)
</p>
@Html.C1().FlexGrid().Id("theCustomGrid").ItemsSourceId("collectionView").ShowAlternatingRows(false).Height(200)

<h2>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Title2)
</h2>
<p>
    @Html.Raw(Resources.C1FlexGrid.Clipboard_Text6)
</p>