<h1>
    @Html.Raw(Resources.C1FlexGrid.CollectionView_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.CollectionView_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CollectionView_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CollectionView_Text3)
</p>
<div id="selectedItem"></div>
@(Html.C1().FlexGrid().Id("theGrid")
    .AllowSorting(false)
    .ShowSort(false)
    .AutoGenerateColumns(false)
    .Columns(cs=>
    {
        cs.Add().Binding("country").Header("Country");
        cs.Add().Binding("sales").Header("Sales").Format("n2");
        cs.Add().Binding("expenses").Header("Expenses").Format("n2");
    })
)