@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterOperators_Title)
</h1>

<p>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterOperators_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterOperators_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterOperators_Text3)
</p>

@(Html.C1().FlexGrid().Id("theGrid").Height(250)
    .Bind(b=>b.Bind(Model).DisableServerRead(true))
    .Filterable(f=>f.DefaultFilterType(FilterType.Condition)))