<h1>
    @Html.Raw(Resources.C1FlexGrid.CustomMerging_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomMerging_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomMerging_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomMerging_Text3)
</p>
@Html.C1().FlexGrid().Id("theGrid")

<p>
    @Html.Raw(Resources.C1FlexGrid.CustomMerging_Text4)
</p>