<h1>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Text1)
</p>

<h3>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Title1)
</h3>
<p>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Text2)
</p>
@Html.C1().FlexGrid().Id("unboundGrid")

<h3>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Title2)
</h3>
<p>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Text3)
</p>
@Html.C1().FlexGrid().Id("autoBoundGrid")

<h3>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Title3)
</h3>
<p>
    @Html.Raw(Resources.C1FlexGrid.DataBinding_Text4)
</p>
@Html.C1().FlexGrid().Id("boundGrid")