<h1>
    @Html.Raw(Resources.C1FlexGrid.Events_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.Events_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.Events_Text2)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1FlexGrid.Events_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexGrid.Events_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexGrid.Events_Text5)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexGrid.Events_Text6)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexGrid.Events_Text7)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexGrid.Events_Text8)
    </li>
</ul>  