@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.ReadOnlyRequiredColumns_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.ReadOnlyRequiredColumns_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.ReadOnlyRequiredColumns_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.ReadOnlyRequiredColumns_Text3)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.ReadOnlyRequiredColumns_Text4)
</p>
@(Html.C1().FlexGrid().Id("theGrid").Height(200)
    .AutoGenerateColumns(false)
    .Bind(Model)
    .Columns(cs=>
    {
        cs.Add().Binding("Id").Header("ID").Width("50").IsReadOnly(true);
        cs.Add().Binding("Country").Header("Country").IsRequired(true);
        cs.Add().Binding("Sales").Header("Sales").IsRequired(false);
        cs.Add().Binding("Expenses").Header("Expenses").IsRequired(false);
        cs.Add().Binding("Overdue").Header("Overdue");
    })
)