<h1>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text3)
</p>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text4)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text5)
</p>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text6)
</p>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text7)
</p>
<pre>// header columns on the left of the grid
grid.topLeftCells.columns ==
grid.rowHeaders.columns ==
grid.bottomLeftCells.columns;</pre>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text8)
</p>
<pre>// scrollable columns on the right of the grid
grid.columnHeaders.columns ==
grid.cells.columns ==
grid.columnFooters.columns ==
grid.columns; // ** default columns collection</pre>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text9)
</p>
<pre>// header rows along the top of the grid
grid.topLeftCells.rows ==
grid.columnHeaders.rows;</pre>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text10)
</p>
<pre>// scrollable rows along the middle of the grid
grid.rowHeaders.rows ==
grid.cells.rows ==
grid.rows; // ** default rows collection </pre>

<p>
    @Html.Raw(Resources.C1FlexGrid.RowsColumns_Text11)
</p>
<pre>// footer rows along the bottom of the grid
grid.bottomLeftCells.rows ==
grid.columnFooters.rows;</pre>    