@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Text3)
</p>

<h3>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Title1)
</h3>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Text4)
</p>
@(Html.C1().FlexGrid().Id("htmlDetail").Height(250)
    .AutoGenerateColumns(false)
    .Columns(cs=>
    {
        cs.Add().Binding("CategoryName").Header("Category Name").Width("*");
        cs.Add().Binding("Description").Header("Description").Width("2*");
    })
    .ShowDetailRow(d => d.Id("htmlDetailRow"))
)

<h3>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Title2)
</h3>
<p>
    @Html.Raw(Resources.C1FlexGrid.RowsDetails_Text5)
</p>
@(Html.C1().FlexGrid().Id("gridDetail").Height(250)
    .AutoGenerateColumns(false)
    .Columns(cs=>
    {
        cs.Add().Binding("CategoryName").Header("Category Name").Width("*");
        cs.Add().Binding("Description").Header("Description").Width("2*");
    })
    .ShowDetailRow(d => d.Id("gridDetailRow"))
)