@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Text3)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Text4)
</p>
<button id="scrollIntoView" class="btn btn-default">
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Text5)
</button>
<button id="scrollToTop" class="btn btn-default">
    @Html.Raw(Resources.C1FlexGrid.ScrollingViewRange_Text6)
</button>
@Html.C1().FlexGrid().Id("theGrid").Bind(Model).Height(200)