<h1>
    @Html.Raw(Resources.C1Nav.AnotherAccordion_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Nav.AnotherAccordion_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.AnotherAccordion_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Nav.AnotherAccordion_Text3)
</p>
@Html.C1().TreeView().Id("theTree")