@model DashboardData

<h1>
    @Html.Raw(Resources.C1Nav.AutoGridLayout_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Nav.AutoGridLayout_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.AutoGridLayout_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Nav.AutoGridLayout_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Nav.AutoGridLayout_Text4)
</p>
@Html.Partial("_DashboardLayoutElements", Model)
@(Html.C1().AutoGridLayout().Id("autoGridLayout")
    .MaxRowsOrColumns(3)
    .CellSize(303)
    .Orientation(LayoutOrientation.Vertical)
    .Items(isb =>
    {
        isb.Add().Children(cb =>
        {
            cb.Add().HeaderText(string.Format(Resources.C1Nav.KPIs, Model.KPIsStr))
                .Content("#kpiGauges")
                .RowSpan(1).ColumnSpan(1);
            cb.Add().HeaderText(string.Format(Resources.C1Nav.CostBudget, Model.CostBudgetingStr))
                .Content("#costBudgetingChart")
                .RowSpan(1).ColumnSpan(1);
            cb.Add().HeaderText(string.Format(Resources.C1Nav.Countrywise, Model.CountrywiseSalesStr))
                .Content("#countrywiseSalesChart")
                .RowSpan(1).ColumnSpan(1);
        });
        isb.Add().Children(cb =>
        {
            cb.Add().HeaderText(string.Format(Resources.C1Nav.SalesDashboard, Model.SalesDashboardStr))
                .Content("#salesDashboardFGrid")
                .ColumnSpan(1).RowSpan(1);
        });
    }))
@Html.C1().DashboardLayout().Id("dashboardLayout")