@model IEnumerable<TreeViewData>

<h1>
    @Html.Raw(Resources.C1Nav.Disabling_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Nav.Disabling_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.Disabling_Text2)
</p>

<button id="btnDisableNode" class="btn btn-default">
    @Html.Raw(Resources.C1Nav.Disabling_Text3)
</button>
<button id="btnEnableAllNodes" class="btn btn-default">
    @Html.Raw(Resources.C1Nav.Disabling_Text4)
</button>

@Html.C1().TreeView().Id("theTree").Bind(Model).DisplayMemberPath("Header").ChildItemsPath("Items")