@model IEnumerable<TreeViewData>

<h1>
    @Html.Raw(Resources.C1Nav.Editing_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Nav.Editing_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.Editing_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Nav.Editing_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Nav.Editing_Text4)
</p>

@Html.C1().TreeView().Id("theTree").Bind(Model).DisplayMemberPath("Header").ChildItemsPath("Items")