<h1>
    @Html.Raw(Resources.C1Nav.HeterogeneousData_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Nav.HeterogeneousData_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.HeterogeneousData_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Nav.HeterogeneousData_Text3)
</p>

@Html.C1().TreeView().Id("theTree")