<h1>
    @Html.Raw(Resources.C1Nav.LazyLoading_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Nav.LazyLoading_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.LazyLoading_Text2)
</p>
<ol>
    <li>
        @Html.Raw(Resources.C1Nav.LazyLoading_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1Nav.LazyLoading_Text4)
    </li>
</ol>
<p>
    @Html.Raw(Resources.C1Nav.LazyLoading_Text5)
</p>

@Html.C1().TreeView().Id("theTree")