<h1>
    @Html.Raw(Resources.C1Nav.LazyOdata_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Nav.LazyOdata_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.LazyOdata_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Nav.LazyOdata_Text3)
</p>

@Html.C1().TreeView().Id("theTree")