@model IEnumerable<TreeViewData>

<h1>
    @Html.Raw(Resources.C1Nav.StylingCSS_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Nav.StylingCSS_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Nav.StylingCSS_Text2)
</p>
<div>
    <label>
        @Html.Raw(Resources.C1Nav.StylingCSS_Text3)
        <input id="customCSS" type="checkbox" checked="true">
    </label>
</div>

@Html.C1().TreeView().Id("theTree").CssClass("custom-tree").Bind(Model).DisplayMemberPath("Header").ChildItemsPath("Items")