@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="@Html.Raw(Resources.Resource.SiteNav_DemosUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Demos)</a>
    </li>
    <li>
        <a href="@Html.Raw(Resources.Resource.SiteNav_DocsUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Docs)</a>
    </li>
    <li>
        <a href="@Html.Raw(Resources.Resource.SiteNav_SamplesUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Samples)</a>
    </li>
    <li class="bold">
        <a href="@Html.Raw(Resources.Resource.SiteNav_LinkFreeTrial)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_FreeTrial)</a>
    </li>
</ul>
