<h1>
    @Html.Raw(Resources.C1Gauge.Architecture_Title)
</h1>

<h3>
    Gauge Classes
</h3>
<p>
    @Html.Raw(Resources.C1Gauge.Architecture_Text1)
</p>
<ul>
  <li>
    @Html.Raw(Resources.C1Gauge.Architecture_Text2)
    <ul>
      <li>
        @Html.Raw(Resources.C1Gauge.Architecture_Text3)
      </li>
      <li>
        @Html.Raw(Resources.C1Gauge.Architecture_Text4)
        <ul>
          <li>
            @Html.Raw(Resources.C1Gauge.Architecture_Text5)
          </li>
        </ul>
      </li>
        </ul>
    </li>
</ul>
<p>
    @Html.Raw(Resources.C1Gauge.Architecture_Text6)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1Gauge.Architecture_Text7)
    </li>
    <li>
        @Html.Raw(Resources.C1Gauge.Architecture_Text8)
    </li>
</ul>

<h3>
    @Html.Raw(Resources.C1Gauge.Architecture_Title1)
</h3>
<p>
    @Html.Raw(Resources.C1Gauge.Architecture_Text9)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1Gauge.Architecture_Text10)
    </li>
    <li>
        @Html.Raw(Resources.C1Gauge.Architecture_Text11)
    </li>
</ul>
<p>
    @Html.Raw(Resources.C1Gauge.Architecture_Text12)
</p>