<h1>
    @Html.Raw(Resources.C1Gauge.Index_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text4)
</p>

<h3>
    @Html.Raw(Resources.C1Gauge.GaugeTypes_Title1)
</h3>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text5)
</p>
@(Html.C1().RadialGauge().Id("theRadialGauge")
    .Min(0).Max(100).Value(75).Step(10)
    .IsReadOnly(false)
)
<h3>
    @Html.Raw(Resources.C1Gauge.GaugeTypes_Title2)
</h3>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text6)
</p>
@(Html.C1().LinearGauge().Id("theLinearGauge")
    .Min(0).Max(100).Value(75).Step(10)
    .ShowText(ShowText.MinMax)
    .IsReadOnly(false)
)
<h3>
    @Html.Raw(Resources.C1Gauge.GaugeTypes_Title3)
</h3>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text7)
</p>
<p>
    @Html.Raw(Resources.C1Gauge.Index_Text8)
</p>
@(Html.C1().BulletGraph().Id("theBulletGraph")
    .Min(0).Max(100).Value(75)
    .Target(60).Bad(50).Good(70)
    .ShowText(ShowText.MinMax)
)