@model IEnumerable<Orders.Order>
@{
    var cities = Orders.GetCities().ToValues();
    ControlOptions optionsModel = ViewBag.RowHeaderOptions;
    ViewBag.DemoSettings = true;
}

<c1-multi-row id="ovMultiRow" class="multirow">
    <c1-items-source read-action-url="@Url.Action("RowHeader_Read")"></c1-items-source>
    <c1-multi-row-cell-group header="Customer" colspan="3" is-row-header="@Convert.ToBoolean(optionsModel.Options["Row Header"].CurrentValue)">
        <c1-multi-row-cell binding="Customer.Name" name="CustomerName" header="Customer" width="200" />
        <c1-multi-row-cell binding="Customer.Email" name="CustomerEmail" header="Customer Email" class="email" colspan="2" />
        <c1-multi-row-cell binding="Customer.Address" name="CustomerAddress" header="Address" />
        <c1-multi-row-cell binding="Customer.City" name="CustomerCity" header="City" datamap-editor="@C1.Web.Mvc.Grid.DataMapEditor.DropDownList">
            <c1-data-map display-member-path="Value" selected-value-path="Value">
                <c1-items-source source-collection="cities" />
            </c1-data-map>
        </c1-multi-row-cell>
        <c1-multi-row-cell binding="Customer.State" name="CustomerState" header="State" />
    </c1-multi-row-cell-group>
    <c1-multi-row-cell-group header="Order" colspan="3">
        <c1-multi-row-cell binding="Id" header="ID" class="id" rowspan="2" />
        <c1-multi-row-cell binding="Date" header="Ordered" width="150" rowspan="2" />
        <c1-multi-row-cell binding="Amount" header="Amount" format="c" class="amount" width="150" />
        <c1-multi-row-cell binding="ShippedDate" header="Shipped" width="150" />
    </c1-multi-row-cell-group>

    <c1-multi-row-cell-group header="Shipper" colspan="3">
        <c1-multi-row-cell binding="Shipper.Name" name="ShipperName" header="Shipper" width="200" />
        <c1-multi-row-cell binding="Shipper.Email" name="ShipperEmail" header="Shipper Email" class="email" width="300" />
        <c1-multi-row-cell binding="Shipper.Express" name="ShipperExpress" header="Express" />
    </c1-multi-row-cell-group>
</c1-multi-row>


@section Settings{
    @await Html.PartialAsync("_OptionsMenu", optionsModel)
}

@section Summary{
    <p>@Html.Raw(MultiRowRes.RowHeader_Summary_Text0)</p>
}

@section Description{
    <p>@Html.Raw(MultiRowRes.RowHeader_Description_Text0)</p>


}
