<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/logo32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/logo16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/favicon/safari-pinned-tab.svg")" color="#697683">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <c1-styles />
    <c1-scripts>
        <c1-flex-viewer-scripts />
    </c1-scripts>
</head>
<body>
    @RenderBody()

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>