<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>ImageCombo</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/logo32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/logo16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#697683">



    @Html.C1().Styles()
    @Html.C1().Scripts().Basic(bb => bb.Input())
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>


    <header>
        <div class="menu-container">
            <div class="menu-left">
                <a href="https://developer.mescius.com/aspnet-mvc" target="_blank">
                    <img src="~/Content/css/images/logotext_w.png" class="gcicon-logo-gc-horiz" alt="mescius" />
                </a>
            </div>
            <div class="menu-divide"></div>
            <div class="menu-main">
                <span class="semi-bold">ComponentOne ImageCombo inheriting C1 MVC ComboBox</span>
            </div>
            <div class="menu-right">
                <ul class="site-nav">
                    <li>
                        <a href="https://developer.mescius.com/componentone/demos" target="_blank">Demos</a>
                    </li>
                    <li>
                        <a href="https://developer.mescius.com/componentone/docs/mvc/online-mvc/overview.html" target="_blank">Docs</a>
                    </li>
                    <li>
                        <a href="https://developer.mescius.com/componentone/samples" target="_blank">Samples</a>
                    </li>
                    <li class="bold">
                        <a href="https://developer.mescius.com/componentone/download" target="_blank">Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </header><div class="main-content">
        @RenderBody()
    </div>
    <footer>
        <a href="https://developer.mescius.com/">
            <img src="~/Content/css/images/logotext.png" class="gcicon-logo-gc-horiz" alt="mescius" />
        </a>
        <p>
            © @DateTime.Now.Year MESCIUS inc. All rights reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>

    </footer>
</body>
</html>
