@model Property[]

@{
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;
}

@(Html.C1().TreeView()
    .Id("treeView")
    .Bind(Model)
    .DisplayMemberPath("Header")
    .ChildItemsPath("Items")
    .IsAnimated(Convert.ToBoolean(optionsModel.Options["IsAnimated"].CurrentValue))
    .CollapseWhenDisabled(Convert.ToBoolean(optionsModel.Options["CollapseWhenDisabled"].CurrentValue))
    .AutoCollapse(Convert.ToBoolean(optionsModel.Options["AutoCollapse"].CurrentValue))
    .ExpandOnClick(Convert.ToBoolean(optionsModel.Options["ExpandOnClick"].CurrentValue))
    .CollapseOnClick(Convert.ToBoolean(optionsModel.Options["CollapseOnClick"].CurrentValue))
    .ExpandOnLoad(Convert.ToBoolean(optionsModel.Options["ExpandOnLoad"].CurrentValue)))

<div>
    <button id="btnDisableNode" class="btn btn-default" onclick="disableSelectedNode()">
        Disable Selected Node
    </button>
    <button id="btnEnableAllNodes" class="btn btn-default" onclick="enableAllNode()">
        Enable All Nodes
    </button>
</div>

@section Scripts{
    <script>
        function disableSelectedNode() {
            let treeView = wijmo.Control.getControl("#treeView");
            if (treeView && treeView.selectedNode) {
                treeView.selectedNode.isDisabled = true;
            }
        }

        function enableAllNode() {
            let treeView = wijmo.Control.getControl("#treeView");
            if (treeView) {
                for (var nd = treeView.getFirstNode(); nd; nd = nd.next()) {
                    nd.isDisabled = false;
                }
            }
        }
    </script>
    
}

@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Summary{
    <p>@Html.Raw(Resources.TreeView.Index_Text0)</p>
}

@section Description{
    <p>@Html.Raw(Resources.TreeView.Index_Text1)</p>
    <p>@Html.Raw(Resources.TreeView.Index_Text2)</p>
    <p>@Html.Raw(Resources.TreeView.Index_Text3)</p>
}