<h1>
    @Html.Raw(Resources.C1FlexChart.AnalyticsCustomFunctions_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexChart.AnalyticsCustomFunctions_Text1)
</p>
<ol>
    <li>
        @Html.Raw(Resources.C1FlexChart.AnalyticsCustomFunctions_Text2)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexChart.AnalyticsCustomFunctions_Text3)
    </li>
</ol>
<p>
    @Html.Raw(Resources.C1FlexChart.AnalyticsCustomFunctions_Text4)
</p>

@(Html.C1().FlexChart().Id("theChart")
)