<h1>
    @Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Title)
</h1>

<p>
    @Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text2)
</p>

<ol>
    <li>
        @Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text5)
    </li>
</ol>

<div class="demo-settings">
    <label for="connectorLines">@Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text6) </label>
    <input id="connectorLines" type="checkbox"><br />
    <label for="showTotal">@Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text7) </label>
    <input id="showTotal" type="checkbox"><br />
    <label for="btnRandomize">@Html.Raw(Resources.C1FlexChart.AnalyticsWaterfallCharts_Text8)</label>
    <button id="btnRandomize" class="btn btn-default">
        @Resources.Resource.Btn_Go
    </button>
</div>

@(Html.C1().FlexChart().Id("theChart")
    .BindingX("date")
    .Legend(C1.Web.Mvc.Chart.Position.None)
    .AxisX(x=>x.Format("MMM yy"))
)