<h1>
    @Html.Raw(Resources.C1FlexChart.Events_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexChart.Events_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.Events_Text2)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1FlexChart.Events_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexChart.Events_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexChart.Events_Text5)
    </li>
</ul>  