@using LearnMvcClient.Models
@model IEnumerable<FlexChartData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexChart.Sorting_Title)
</h1>

<p>
    @Html.Raw(Resources.C1FlexChart.Sorting_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.Sorting_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.Sorting_Text3)
</p>

<p>
    @Html.Raw(Resources.C1FlexChart.Sorting_Text4)
    <button id="btnNone" class="btn btn-default">@Html.Raw(Resources.C1FlexChart.Sorting_Text5)</button>
    <button id="btnCountry" class="btn btn-default">@Html.Raw(Resources.C1FlexChart.Sorting_Text6)</button>
    <button id="btnSales" class="btn btn-default">@Html.Raw(Resources.C1FlexChart.Sorting_Text7)</button>
    <button id="btnExpenses" class="btn btn-default">@Html.Raw(Resources.C1FlexChart.Sorting_Text8)</button>
    <button id="btnDownloads" class="btn btn-default">@Html.Raw(Resources.C1FlexChart.Sorting_Text9)</button>
</p>
@(Html.C1().FlexChart<FlexChartData.Sale>().Id("theChart")
    .Bind("Country", Model)
    .Series(sb =>
    {
        sb.Add().Binding("Sales").Name("Sales");
        sb.Add().Binding("Expenses").Name("Expenses");
        sb.Add().Binding("Downloads").Name("Downloads");
    })
)