@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_DemosUrl)" target="_blank">@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_Demos)</a>
    </li>
    <li>
        <a href="@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_DocsUrl)" target="_blank">@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_Docs)</a>
    </li>
    <li>
        <a href="@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_SamplesUrl)" target="_blank">@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_Samples)</a>
    </li>
    <li class="bold">
        <a href="@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_Text8)" target="_blank">@Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_Text3)</a>
    </li>
    <li class="narrow-screen">
        @Html.Raw(Resources.TransposedMultiRowExplorer._SiteNav_Text4)
        @Html.Partial("_ThemeList")
    </li>
</ul>
