@{
    List<string> countries = ViewBag.Countries;
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;
}

@section Styles{
<style>
    .highlight {
        background-color: #ff0;
        color: #000;
    }
</style>
}

<div>
    <label>@Html.Raw(Resources.AutoComplete.Index_Text2)</label>
    <p>@Html.Raw(Resources.AutoComplete.Index_Text0)</p>
    @Html.C1().AutoComplete().Bind(countries).CaseSensitiveSearch(Convert.ToBoolean(optionsModel.Options["Case Sensitive Search"].CurrentValue)).BeginsWithSearch(Convert.ToBoolean(optionsModel.Options["Begins With Search"].CurrentValue))
</div>
<div>
    <label>@Html.Raw(Resources.AutoComplete.Index_Text3)</label>
    <p>@Html.Raw(Resources.AutoComplete.Index_Text1)</p>
    @Html.C1().AutoComplete().Bind(countries).CssMatch("highlight").CaseSensitiveSearch(Convert.ToBoolean(optionsModel.Options["Case Sensitive Search"].CurrentValue)).BeginsWithSearch(Convert.ToBoolean(optionsModel.Options["Begins With Search"].CurrentValue))
</div>

@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Description{
    @Html.Raw(Resources.AutoComplete.Index_Text4)
    <br />
    @Html.Raw(Resources.AutoComplete.CaseSensitiveSearchDescription_Text0)
    <br />
    @Html.Raw(Resources.AutoComplete.BeginsWithSearchDescription_Text0)
}