@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="@Resource.SiteNav_DemosUrl" target="_blank">@Resource.SiteNav_Demos</a>
    </li>
    <li>
        <a href="@Resource.SiteNav_DocsUrl" target="_blank">@Resource.SiteNav_Docs</a>
    </li>
    <li>
        <a href="@Resource.SiteNav_SamplesUrl" target="_blank">@Resource.SiteNav_Samples</a>
    </li>
    <li class="bold">
        <a href="@Resource.SiteNav_LinkFreeTrial" target="_blank">@Resource.SiteNav_FreeTrial</a>
    </li>
    
</ul>
