@model bool
@{
    var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="@Resources.Calendar._SiteNav_DemosUrl" target="_blank">@Resources.Calendar._SiteNav_Demos</a>
    </li>
    <li>
        <a href="@Resources.Calendar._SiteNav_DocsUrl" target="_blank">@Resources.Calendar._SiteNav_Docs</a>
    </li>
    <li>
        <a href="@Resources.Calendar._SiteNav_SamplesUrl" target="_blank">@Resources.Calendar._SiteNav_Samples</a>
    </li>
    <li class="bold">
        <a href="@Resources.Calendar.SiteNavFreeTrialLink" target="_blank">@Resources.Calendar.SiteNavFreeTrial</a>
    </li>
</ul>

