@model bool
@{
    var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li class="narrow-screen">
        <a href="@Url.Action("Index", "Home")">@Html.Raw(Resource.SiteNav_Home)</a>
    </li>
    <li>
        <a href="@(Resource.SiteNav_DemosUrl)" target="_blank">@Html.Raw(Resource.SiteNav_Demos)</a>
    </li>
    <li>
        <a href="@(Resource.SiteNav_DocsUrl)" target="_blank">@Html.Raw(Resource.SiteNav_Docs)</a>
    </li>
    <li>
        <a href="@(Resource.SiteNav_SamplesUrl)" target="_blank">@Html.Raw(Resource.SiteNav_Samples)</a>
    </li>
    <li class="bold">
        <a href="@(Resource.SiteNav_FreeTrialUrl)" target="_blank">@Html.Raw(Resource.SiteNav_FreeTrial)</a>
    </li>
</ul>

