<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @Html.Raw(MultiColumnComboBoxRes._Layout_Text10)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/logo32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/logo16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#697683">

    @{
        Theme.SetCurrentTheme(Context, Context.Request.Query["theme"]);
    }
    <c1-styles theme="@Theme.GetCurrentTheme(Context)" />
    <link href="~/Content/css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/explorer.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
    <link href="@Url.Content(MultiColumnComboBoxRes.GcIconsCssPath)" rel="stylesheet" />
    @RenderSection("Styles", false)

    <script src="~/Scripts/jquery.js"></script>
    <c1-scripts>
        <c1-basic-scripts />
    </c1-scripts>
    <script src="~/Scripts/MultiLevelMenu.js"></script>
    <script src="~/Scripts/Layout.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    <div class="hide">
        @await Html.PartialAsync("_SiteNav", true)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars-w"></span></div>
        <div class="menu-container">
                <div class="menu-left">
                    <a href="@Html.Raw(MultiColumnComboBoxRes._Layout_Text9)" target="_blank">
                        <img src="~/Content/css/images/logotext_w.png" class="gcicon-logo-gc-horiz" alt="mescius" />
                    </a>
                </div>
                <div class="menu-divide"></div>
                <div class="menu-main">
                    <span class="semi-bold narrow-screen">@Html.Raw("ComponentOne "+MultiColumnComboBoxRes._Layout_Text1)</span>
                    <span class="semi-bold wide-screen">@Html.Raw("ComponentOne "+MultiColumnComboBoxRes._Layout_Text2)</span>
                </div>
                <div class="menu-right">
                    @await Html.PartialAsync("_ThemeSelector")
                    @await Html.PartialAsync("_SiteNav", false)
                </div>
            </div>
    </header>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer>
        <a href="http://developer.mescius.com/">
            <img src="~/Content/css/images/logotext.png" class="gcicon-logo-gc-horiz" alt="mescius" />
        </a>
        <p>
            © @DateTime.Now.Year @Html.Raw(MultiColumnComboBoxRes._Layout_Text4)
        </p>
    </footer>
</body>
</html>


