@section Scripts{
    <script type="text/javascript" src="~/Scripts/FlexSheet/autoFilling.js"></script>
}

<div>
    <div class="copy">
        <h3>@Html.Raw(Resources.FlexSheet.AutoFilling_Text1)</h3>
        <p>
            @Html.Raw(Resources.FlexSheet.AutoFilling_Text2)
        </p>
    </div>
    <span style="color:gray">@Html.Raw(Resources.FlexSheet.AutoFilling_Text3)</span>
    <div id="fillingState">
        @Html.Raw(Resources.FlexSheet.AutoFilling_Text4) <span></span>:
        <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(Resources.FlexSheet.AutoFilling_Text5) <span></span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(Resources.FlexSheet.AutoFilling_Text6) <span></span>
    </div>
    <div>        
        @(Html.C1().FlexSheet().Id("autoFillSheet").CssClass("flexSheet")
            .AddUnboundSheet("Sheet1", 18, 12)
            .AllowAutoFill(true)
            .OnClientAutoFilling("_onAutoFilling")
            .OnClientAutoFilled("_onAutoFilled")
        )
    </div>
</div>
@section Summary{
    <p>@Html.Raw(Resources.FlexSheet.AutoFilling_Text0)</p>
}
