@section Scripts{
<script src="~/Scripts/FlexSheet/customFunction.js"></script>
}
<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.CustomFunction_Text3)</h3>

<p>@Html.Raw(Resources.FlexSheet.CustomFunction_Text0)</p>

<p>@Html.Raw(Resources.FlexSheet.CustomFunction_Text1)</p>

    </div>
    <div>
        @(Html.C1().FlexSheet().Id("customFuncSheet").CssClass("flexSheet")
        .AddUnboundSheet("", 25, 12).OnClientUnknownFunction("unknownFunction"))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.CustomFunction_Text2)</p>

}
