@model IEnumerable<Sale>

@section Scripts{
<script type="text/javascript" src="~/Scripts/FlexSheet/filtering.js"></script>
}

<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.Filtering_Text2)</h3>

<p>@Html.Raw(Resources.FlexSheet.Filtering_Text0)</p>

    </div>
    <button type="button" id="filterBtn" class="btn btn-default" onclick="showFilter()">@Html.Raw(Resources.FlexSheet.Filtering_Text3)</button>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Id("filterSheet")
        .AddBoundSheet(sheet =>
            sheet.Bind(cv =>
                cv.Bind(Model).DisableServerRead(true)))
        .OnClientSelectedSheetChanged("sheetChanged"))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.Filtering_Text1)</p>

}
