@section Scripts{
    <script>
        function remoteSave() {
            var combo = wijmo.Control.getControl('#saveType');
            var flexSheet = wijmo.Control.getControl('#flexSheet');
            flexSheet.remoteSave(c1.mvc.grid.sheet.ContentType[combo.selectedValue]);
        }

        function onFileSaved(sender, args) {
            if (args.success) {
                window.location.href = '@Url.Action("DownloadFile")';
            } else {
                alert(args.error);
            }
        }
    </script>
}

<div>
    <div class="copy">
        <h3>@Html.Raw(Resources.FlexSheet.RemoteLoadSave_Text4)</h3>

        <p>@Html.Raw(Resources.FlexSheet.RemoteLoadSave_Text0)</p>

        <p>
            @using (Html.BeginForm())
            {
                @(Html.C1().ComboBox().Name("loadType").Bind((string[])ViewBag.LoadSaveTypes)
                            .SelectedValue((string)ViewBag.LoadType))
                <button type="submit" class="btn btn-default">@Html.Raw(Resources.FlexSheet.RemoteLoadSave_Text6)</button>
            }
        </p>

        <p>
            @(Html.C1().ComboBox().Id("saveType").Bind((string[])ViewBag.LoadSaveTypes))
            <button type="button" class="btn btn-default" onclick="remoteSave()">@Html.Raw(Resources.FlexSheet.RemoteLoadSave_Text5)</button>
        </p>

    </div>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Id("flexSheet")
        .RemoteLoad(Url.Action((string)ViewBag.LoadAction))
        .RemoteSave(Url.Action("RemoteSaveFile"))
        .OnClientRemoteSaved("onFileSaved"))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.RemoteLoadSave_Text3)</p>

}
