@{
    var today = DateTime.Now.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
}


<div>
    <c1-calendar id="DemoControl" value="@today" min="@minDate" max="@maxDate" width="300px" range-end="@today" selection-mode="Range" range-end-changed="onClientRangeEndChanged">
    </c1-calendar>
</div>
<p>
    @Html.Raw(CalendarRes.Ranges_CurrentSelection) <b><span id="dateRange"></span></b>.
</p>

@section Settings{
    <div style="padding: 4px 8px">

        <label style="font-weight:700; display:inline-block; width: 100px">@Html.Raw(CalendarRes.Ranges_RangeMin)</></label>

        <c1-input-number width="150" min="0" max="10" step="1" value="0" format="n0" value-changed="rangeMinChanged">
        </c1-input-number>

    </div>
    <div style="padding: 4px 8px">

        <label style="font-weight:700; display:inline-block; width: 100px">@Html.Raw(CalendarRes.Ranges_RangeMax)</></label>

        <c1-input-number width="150" min="0" max="10" step="1" value="0" format="n0" value-changed="rangeMaxChanged">
        </c1-input-number>

    </div>

}

@section Scripts{
    <script>
        function onClientRangeEndChanged(s, e) {
            if (s.rangeEnd != null) {
                let el = document.querySelector('#dateRange');
                el.textContent = wijmo.format('from {value:d} to {rangeEnd:d}', s);
            }
        }

        function rangeMinChanged(sender, args) {

            var calenderControl = wijmo.Control.getControl('#DemoControl');
            if (calenderControl != null) {
                calenderControl.rangeMin = sender.value;
                calenderControl.invalidate();
            }
        }

        function rangeMaxChanged(sender, args) {

            var calenderControl = wijmo.Control.getControl('#DemoControl');
            if (calenderControl != null) {
                calenderControl.rangeMax = sender.value;
                calenderControl.invalidate();
            }
        }
    </script>
}

@section Description{
    <p>@Html.Raw(CalendarRes.Ranges_Description)</p>
    <p>@Html.Raw(CalendarRes.Ranges_Description1)</p>
    <p>@Html.Raw(CalendarRes.Ranges_Description2)</p>

}