<h1>
    @Html.Raw(Resources.C1Mvc.CollectionView_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Mvc.CollectionView_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CollectionView_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CollectionView_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CollectionView_Text4)
</p>
<p style="display:none;">
    @Html.Raw(Resources.C1Mvc.CollectionView_Text5)
</p>