@model IEnumerable<FlexGridData.Sale>
<h1>
    @Html.Raw(Resources.C1Mvc.CustomGlyphs_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.CustomGlyphs_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CustomGlyphs_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CustomGlyphs_Text3)
</p>
@(Html.C1().FlexGrid<FlexGridData.Sale>().Id("theGrid").Height(250)
    .Bind(Model)
    .GroupBy("Country", "Product")
    .Filterable()
)
