<h1>
    @Html.Raw(Resources.C1Mvc.CVCreatingViews_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text3)
</p>
<ol>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text5)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text6)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text7)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text8)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text9)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text10)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.CVCreatingViews_Text11)
    </li>
</ol>