@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text4)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text5) 
	</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text6)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text7) 
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVEditingViews_Text8)
</p>

@(Html.C1().FlexGrid().Id("theGrid")
    .Bind(Model)
)