<h1>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Text1)
</p>

<h3>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Title1)
</h3>
<p>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Text3)
</p>
@Html.C1().FlexGrid().Id("theGridBad")

<h3>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Title2)
</h3>
<p>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Text4)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVLoadingJsonDates_Text5)
</p>
@Html.C1().FlexGrid().Id("theGridGood")