<h1>
    @Html.Raw(Resources.C1Mvc.CVPerformance_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text4)
</p>

<button id="btnAddNew" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text5)
</button>
<br>
<button id="btnPush" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text6)
</button>
<br>
<button id="btnPushDefer" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.CVPerformance_Text7)
</button>