<h1>
    @Html.Raw(Resources.C1Mvc.OtherServices_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.OtherServices_Text1)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1Mvc.OtherServices_Text2)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.OtherServices_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.OtherServices_Text4)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.OtherServices_Text5)
    </li>
    <li>
        <a href="@Url.Action("Glyphs")" target="_blank">@Html.Raw(Resources.C1Mvc.OtherServices_Text6)</a>:
        @Html.Raw(Resources.C1Mvc.OtherServices_Text7)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.OtherServices_Text8)
    </li>
    <li>
        @Html.Raw(Resources.C1Mvc.OtherServices_Text9)
    </li>
</ul>