<h1>
    @Html.Raw(Resources.C1Mvc.Parsing_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.Parsing_Text1)
</p>

<label>
    @Html.Raw(Resources.C1Mvc.Parsing_Text2)
    @Html.Partial("_CultureSelector")
</label>

<h2>
    @Html.Raw(Resources.C1Mvc.Parsing_Title1)
</h2>
<p>
    @Html.Raw(Resources.C1Mvc.Parsing_Text3)
</p>

<p>
    @Html.Raw(Resources.C1Mvc.Parsing_Text4)
</p>
<label>
    @Html.Raw(Resources.C1Mvc.Parsing_Text5)
    <input id="dtFmt" value="d">
</label>
<label>
    @Html.Raw(Resources.C1Mvc.Parsing_Text6)
    <input id="dtIn" value="12/31/2016">
</label>
<button id="dtBtn" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.Parsing_Text7)
</button>
<br>
<div id="dtOutput">
</div>

<h2>
    @Html.Raw(Resources.C1Mvc.Parsing_Title2)
</h2>
<p>
    @Html.Raw(Resources.C1Mvc.Parsing_Text8)
</p>

<p>
    @Html.Raw(Resources.C1Mvc.Parsing_Text9)
</p>
<label>
    @Html.Raw(Resources.C1Mvc.Parsing_Text10)
    <input id="numFmt" value="n2">
</label>
<label>
    @Html.Raw(Resources.C1Mvc.Parsing_Text11)
    <input id="numIn" value="123.456">
</label>
<button id="numBtn" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.Parsing_Text12)
</button>
<br>
<div id="numOutput">
</div>

<div style="margin-bottom:2in">
</div>