<h1>
    @Html.Raw(Resources.C1Mvc.Tooltip_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.Tooltip_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.Tooltip_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.Tooltip_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.Tooltip_Text4)
</p>
<button id="btnAddNew" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.Tooltip_Text5)
</button>
<br>
<button id="btnPush" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.Tooltip_Text6)
</button>
<br>
<button id="btnPushDefer" class="btn btn-default">
    @Html.Raw(Resources.C1Mvc.Tooltip_Text7)
</button>

<div style="display:none">
    <div id="setTooltipDocs">
        <p>
            @Html.Raw(Resources.C1Mvc.Tooltip_Text8)
        </p>
        <p>
            @Html.Raw(Resources.C1Mvc.Tooltip_Text9)
        </p>
    </div>
</div>