<h1>
    @Html.Raw(Resources.C1Mvc.WijmoHttpRequest_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.WijmoHttpRequest_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.WijmoHttpRequest_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.WijmoHttpRequest_Text3)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.WijmoHttpRequest_Text4)
</p>
@Html.C1().FlexGrid().Id("theGrid").IsReadOnly(true).Height(200)